<div class="bg-white mt-10 border-2 rounded-sm p-5">
  <h1 class="text-3xl pb-1 font-semibold text-blue-900 border-b-4 border-blue-900">University Lists</h1>
  <div class="flex flex-col mt-5">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden border-b border-gray-400 sm:rounded">
          <table [ngClass]="!loading ? 'hidden' : ''"
          class="w-full border divide-y divide-gray-border-gray-400">
            <thead class="bg-blue-900">
              <tr>
                <th scope="col" class="text-white px-6 py-5">
                  <div class="w-40 animate-pulse h-2 bg-slate-200 rounded-full col-span-3 mr-10">
                  </div>
                </th>
                <th scope="col" class="text-white px-6 py-5">
                  <div class="w-40 animate-pulse h-2 bg-slate-200 rounded-full col-span-3 mr-10">
                  </div>
                </th>
                <th scope="col" class="text-white px-6 py-5">
                  <div class="w-40 animate-pulse h-2 bg-slate-200 rounded-full col-span-3 mr-10">
                  </div>
                </th>
                <th scope="col" class="text-white px-6 py-5">
                  <div class="w-40 animate-pulse h-2 bg-slate-200 rounded-full col-span-3 mr-10">
                  </div>
                </th>
                <th scope="col" class="text-white px-6 py-5">
                  <div class="w-40 animate-pulse h-2 bg-slate-200 rounded-full col-span-3 mr-10">
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-border-gray-400">
              <tr *ngFor="let e of [1,2,3,4,5]">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 self-center">
                      <svg xmlns="http://www.w3.org/2000/svg" class="animate-pulse h-6 w-6 stroke-slate-200" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                      </svg>
                    </div>
                    <div class="ml-4">
                      <div class="w-40 animate-pulse h-2 bg-slate-200 rounded-full col-span-3 mr-10">
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm font-medium text-gray-900">
                    <div class="animate-pulse h-2 bg-slate-200 rounded-full col-span-3 mr-10"></div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm font-medium text-gray-900">
                    <div class="animate-pulse h-2 bg-slate-200 rounded-full col-span-3 mr-10"></div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm">
                  <div class="animate-pulse h-2 bg-slate-200 rounded-full col-span-3 mr-10"></div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm font-medium text-gray-900">
                    <div class="animate-pulse h-2 bg-slate-200 rounded-full col-span-3 mr-10"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <table *ngIf="!loading" class="min-w-full border divide-y divide-gray-border-gray-400">
            <thead class="bg-blue-900">
              <tr>
                <th scope="col" class="text-white px-6 py-3 text-left uppercase tracking-wider">
                  Name
                </th>
                <th scope="col" class="text-white px-6 py-3 text-left uppercase tracking-wider">
                  Location
                </th>
                <th scope="col" class="text-white px-6 py-3 text-left uppercase tracking-wider">
                  Tuition Fees
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-border-gray-400">
              <tr *ngFor="let university of universityList">
                <td class="px-6 py-4 whitespace-nowrap text-sm">
                  <a href={{university?.link}} target="_blank">
                    {{university?.name}}
                  </a>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm">
                  {{university?.address}}
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm">
                  {{university?.tuitionfees}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
    <div class="flex-1 flex justify-between sm:hidden">
      <a (click)="paginateUniversity(link.prev)"
        class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        Previous
      </a>
      <a (click)="paginateUniversity(link.next)"
        class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        Next
      </a>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Showing Page
          <span class="font-medium">{{meta.current_page}}</span>
          Entry from
          <span class="font-medium">{{meta.from}}</span>
          Last Page
          <span class="font-medium">{{meta.last_page}}</span>
        </p>
      </div>
      <div>
        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
          <button [disabled]="link.first==null ? 'disabled': null" (click)="paginateUniversity(link.first)"
            class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Previous</span>
            <!-- Heroicon name: solid/chevron-left -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
            </svg>
          </button>
          <button [disabled]="link.prev==null ? 'disabled': null" (click)="paginateUniversity(link.prev)"
            class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Previous</span>
            <!-- Heroicon name: solid/chevron-left -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
              aria-hidden="loading">
              <path fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <button [disabled]="link.next==null ? 'disabled': null" (click)="paginateUniversity(link.next)"
            class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Next</span>
            <!-- Heroicon name: solid/chevron-right -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
              aria-hidden="loading">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <button [disabled]="link.last==null ? 'disabled': null" (click)="paginateUniversity(link.last)"
            class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Last</span>
            <!-- Heroicon name: solid/chevron-right -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
            </svg>
          </button>
        </nav>
      </div>
    </div>
  </div>
</div>
