<div class="sticky min-h-screen left-0 top-0 bg-blue-900 w-64">
  <ul class="pt-8">
    <!-- <li routerLink="/application-history/dashboard" routerLinkActive="border-l-4 bg-blue-800"
      class="py-2 px-2 text-white hover:bg-blue-400 hover:cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
      </svg>
      <a>Dashboard</a>
    </li> -->

    <li routerLink="/admin/agent" routerLinkActive="border-l-4 bg-blue-800"
      class="py-2 px-2 text-white hover:bg-blue-400 hover:cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <a>Agents</a>
    </li>

    <li routerLink="/admin/application" routerLinkActive="border-l-4 bg-blue-800"
      class="py-2 px-2 text-white hover:bg-blue-400 hover:cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 21h7a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v11m0 5l4.879-4.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242z" />
      </svg>
      <a>Applications</a>
    </li>

    <li routerLink="/admin/university" routerLinkActive="border-l-4 bg-blue-800"
      class="py-2 px-2 text-white hover:bg-blue-400 hover:cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z" />
      </svg>
      <a>University</a>
    </li>

    <li routerLink="/admin/course" routerLinkActive="border-l-4 bg-blue-800"
      class="py-2 px-2 text-white hover:bg-blue-400 hover:cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
      </svg>
      <a>Course</a>
    </li>

    <li routerLink="/admin/admin-profile/profile" routerLinkActive="border-l-4 bg-blue-800"
      class="py-2 px-2 text-white hover:bg-blue-400 hover:cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
      </svg>
      <a>Profile Information</a>
    </li>
    <li routerLink="/admin/admin-profile/change-password" routerLinkActive="border-l-4 bg-blue-800"
      class="py-2 px-2 text-white hover:bg-blue-400 hover:cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
      </svg>
      <a>Change Password</a>
    </li>
  </ul>
</div>
